<div class="thumbnail">
    <!--<img src="..." alt="...">-->
    <div class="caption">
        <h3><%= yard.name %></h3>
        <h6>Crop: <%= yard.type %></h6>
        <p>Region: <span><%= yard.ubication %></span></p>
        <p>Quantity: <span><%= yard.areaQuantity %></span><span><%= yard.areaUnity %></span></p>
        <p>
            Description:
            <br>
            <span><%= yard.description %></span>
        </p>
        <p><a href="#" data-id="<%= yard.id %>" class="btn btn-primary history" role="button">Go to details</a></p>
    </div>
</div>