<!DOCTYPE html>
<html>
<head>
    <% include ../templates/basic-meta-tags %>

    <title>Welcome to seeds :)</title>

    <% include ../templates/head-bootstrap %>
    <% include ../templates/all-header-assets %>

</head>
<body>

<% include ../templates/navbar %>

<div class="container">
    <div id="welcome-message" style="text-align: center;">
        <h1>Bienvenido, <%= user %>!</h1>
        <h3>Tus cultivos</h3>
    </div>
    <div id="quick-yards-view">
        <div class="row">
            <% yards.forEach(function(yard) { %>
            <div class="col-xs-3">
                <div class="thumbnail">
                    <!--<img src="..." alt="...">-->
                    <div class="caption">
                        <h3><%= yard.name %></h3>
                        <h6>Crop: <%= yard.type %></h6>
                        <p>Region: <span><%= yard.ubication %></span></p>
                        <p>Quantity: <span><%= yard.areaQuantity %></span><span><%= yard.areaUnity %></span></p>
                        <p>
                            Description:
                            <br>
                            <span><%= yard.description %></span>
                        </p>
                        
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>

</body>
</html>